In [6]:
# Importar Librerias
import pandas as pd

In [8]:
# Leer dataset
df = pd.read_csv("data/olist_order_payments_dataset.csv")
# Mostrar dataset
df.head(10)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45
5,298fcdf1f73eb413e4d26d01b25bc1cd,1,credit_card,2,96.12
6,771ee386b001f06208a7419e4fc1bbd7,1,credit_card,1,81.16
7,3d7239c394a212faae122962df514ac7,1,credit_card,3,51.84
8,1f78449c87a54faf9e96e88ba1491fa9,1,credit_card,6,341.09
9,0573b5e23cbd798006520e1d5b4c6714,1,boleto,1,51.95

In [33]:
orders = pd.read_csv("data/olist_orders_dataset.csv")
order_items = pd.read_csv("data/olist_order_items_dataset.csv")
products = pd.read_csv("data/olist_products_dataset.csv")
categories = pd.read_csv("data/product_category_name_translation.csv")

In [34]:
orders = orders[orders["order_status"] == "delivered"]

In [35]:
orders = orders[
    ["order_id", "order_purchase_timestamp"]
]

order_items = order_items[
    ["order_id", "product_id", "price", "freight_value"]
]

products = products[
    ["product_id", "product_category_name"]
]

In [36]:
df = orders.merge(
    order_items,
    on="order_id",
    how="inner"
)

In [37]:
df = df.merge(
    products,
    on="product_id",
    how="left"
)

In [38]:
df = df.merge(
    categories,
    on="product_category_name",
    how="left"
)

In [46]:
df["order_purchase_timestamp"] = pd.to_datetime(
    df["order_purchase_timestamp"]
)

In [47]:
df.duplicated().sum()

np.int64(10001)

In [48]:
df.isnull().sum()

order_id                            0
order_purchase_timestamp            0
product_id                          0
price                               0
freight_value                       0
product_category_name            1537
product_category_name_english    1559
dtype: int64

In [49]:
df["product_category_name_english"] = df[
    "product_category_name_english"
].fillna("unknown")

In [97]:
df = df.dropna(subset=["price"])

In [98]:
df_final = df[
    [
        "order_purchase_timestamp",
        "order_id",
        "product_id",
        "product_category_name_english",
        "price",
        "freight_value"
    ]
]

In [99]:
df_final.to_csv("tabla_analitica_olist.csv", index=False)

In [100]:
df_final.head(10)

,order_purchase_timestamp,order_id,product_id,product_category_name_english,price,freight_value
0,2017-10-02 10:56:33,e481f51cbdc54678b7cc49136f2d6af7,87285b34884572647811a353c7ac498a,housewares,29.99,8.72
1,2018-07-24 20:41:37,53cdb2fc8bc7dce0b6741e2150273451,595fac2a385ac33a80bd5114aec74eb8,perfumery,118.70,22.76
2,2018-08-08 08:38:49,47770eb9100c2d0c44946d9cf07ec65d,aa4383b373c6aca5d8797843e5594415,auto,159.90,19.22
3,2017-11-18 19:28:06,949d5b44dbf5de918fe9c16f97b45f8a,d0b61bfb1de832b15ba9d266ca96e5b0,pet_shop,45.00,27.20
4,2018-02-13 21:18:39,ad21c59c0840e6cb83a9ceb5573f8159,65266b2da20d04dbe00c5c2d3bb7859e,stationery,19.90,8.72
5,2017-07-09 21:57:05,a4591c265e18cb1dcee52889e2d8acc3,060cb19345d90064d1015407193c233d,auto,147.90,27.36
6,2017-05-16 13:10:30,6514b8ad8028c9f2cc2374ded245783f,4520766ec412348b8d4caa5e8a18c464,auto,59.99,15.17
7,2017-01-23 18:29:09,76c6e866289321a7c93b82b54852dc33,ac1789e492dcd698c5c10b97a671243a,furniture_decor,19.90,16.05
8,2017-07-29 11:55:02,e69bfb5eb88e0ed6a785585b27e16dbf,9a78fb9862b10749a117f7fc3c31f051,office_furniture,149.99,19.77
9,2017-05-16 19:41:10,e6ce16cb79ec1d90b1da9085a6118aeb,08574b074924071f4e201e151b152b4e,garden_tools,99.00,30.53

In [101]:
df_final.groupby(["order_id", "product_id"]).size()

order_id                          product_id
00010242fe8c5a6d1ba2dd792cb16214  4244733e06e7ecb4970a6e2683c13e61    1
00018f77f2f0320c557190d7a144bdd3  e5f2d52b802189ee658865ca93d83a8f    1
000229ec398224ef6ca0657da4fc703e  c777355d18b72b67abbeef9df44fd0fd    1
00024acbcdf0a6daa1e931b038114c75  7634da152a4610f1595efa32f14722fc    1
00042b26cf59d7ce69dfabb4e55b4fd9  ac6c3623068f30de03045865e4e10089    1
                                                                     ..
fffc94f6ce00a00581880bf54a75a037  4aa6014eceb682077f9dc4bffebc05b0    1
fffcd46ef2263f404302a634eb57f7eb  32e07fd915822b0765e448c4dd74c828    1
fffce4705a9662cd70adb13d4a31832d  72a30483855e2eafc67aee5dc2560482    1
fffe18544ffabc95dfada21779c9644f  9c422a519119dcad7575db5af1ba540e    1
fffe41c64501cc87c801fd61db3f6244  350688d9dc1e75ff97be326363655e01    1
Length: 100196, dtype: int64

In [67]:
df_final["date"] = df_final["order_purchase_timestamp"].dt.date

In [68]:
demanda_diaria = (
    df_final
    .groupby(["date", "product_id", "product_category_name_english"])
    .size()
    .reset_index(name="quantity")
)

In [69]:
demanda_diaria.head(10)

,date,product_id,product_category_name_english,quantity
0,2016-09-15,5a6b04657a4c5ee34285d1e4619a96b4,health_beauty,3
1,2016-10-03,107177bf61755f05c604fe57e02467d6,furniture_decor,1
2,2016-10-03,3ae08df6bcbfe23586dd431c40bddbb7,watches_gifts,1
3,2016-10-03,a5c3ddb1a400f50d1cf7138727aec136,toys,1
4,2016-10-03,b72b39418216e944bb34e35f4d3ea8c7,sports_leisure,1
5,2016-10-03,bfce5e847034e1fbbc1ed0bff6a372c7,furniture_decor,1
6,2016-10-03,e2a1d45a73dc7f5a7f9236b043431b89,fashion_shoes,1
7,2016-10-03,fd7fd78fd3cbc1b0a6370a7909c0a629,sports_leisure,1
8,2016-10-04,062619359d5f9a664606cb2a6ccb477a,health_beauty,1
9,2016-10-04,0c5801458e74f9b6c23b44c331426e30,cool_stuff,1

In [70]:
ventas_diarias = (
    df_final
    .groupby(["date", "product_id", "product_category_name_english"])
    .agg(
        quantity=("product_id", "count"),
        total_sales=("price", "sum")
    )
    .reset_index()
)

In [71]:
ventas_diarias.head(10)

,date,product_id,product_category_name_english,quantity,total_sales
0,2016-09-15,5a6b04657a4c5ee34285d1e4619a96b4,health_beauty,3,134.97
1,2016-10-03,107177bf61755f05c604fe57e02467d6,furniture_decor,1,119.90
2,2016-10-03,3ae08df6bcbfe23586dd431c40bddbb7,watches_gifts,1,29.90
3,2016-10-03,a5c3ddb1a400f50d1cf7138727aec136,toys,1,128.90
4,2016-10-03,b72b39418216e944bb34e35f4d3ea8c7,sports_leisure,1,36.49
5,2016-10-03,bfce5e847034e1fbbc1ed0bff6a372c7,furniture_decor,1,74.90
6,2016-10-03,e2a1d45a73dc7f5a7f9236b043431b89,fashion_shoes,1,29.99
7,2016-10-03,fd7fd78fd3cbc1b0a6370a7909c0a629,sports_leisure,1,21.90
8,2016-10-04,062619359d5f9a664606cb2a6ccb477a,health_beauty,1,136.90
9,2016-10-04,0c5801458e74f9b6c23b44c331426e30,cool_stuff,1,89.90

In [72]:
demanda_diaria["date"] = pd.to_datetime(demanda_diaria["date"])

In [73]:
demanda_diaria["week"] = demanda_diaria["date"].dt.to_period("W").apply(lambda r: r.start_time)

In [74]:
demanda_semanal = (
    demanda_diaria
    .groupby(
        ["week", "product_id", "product_category_name_english"]
    )
    .agg(
        weekly_quantity=("quantity", "sum")
    )
    .reset_index()
)

In [75]:
demanda_semanal.head(10)

,week,product_id,product_category_name_english,weekly_quantity
0,2016-09-12,5a6b04657a4c5ee34285d1e4619a96b4,health_beauty,3
1,2016-10-03,027cdd14a677a5834bc67a9789db5021,perfumery,1
2,2016-10-03,0534940d69bf94dc61c0e722b4168235,furniture_decor,1
3,2016-10-03,05fca08b4d54ab5d1d371db7d5534136,computers_accessories,1
4,2016-10-03,062619359d5f9a664606cb2a6ccb477a,health_beauty,1
5,2016-10-03,0980718a7bdcf89f5848b202b6394965,health_beauty,1
6,2016-10-03,09b590ada623ecf66329917ea4731957,watches_gifts,1
7,2016-10-03,0ab80f38a21093b448518f68efe82c24,housewares,1
8,2016-10-03,0b230f10ac2cfc4c831b825bf31a5de2,pet_shop,1
9,2016-10-03,0c5801458e74f9b6c23b44c331426e30,cool_stuff,1

In [79]:
demanda_semanal.shape

(77713, 4)

In [80]:
demanda_semanal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77713 entries, 0 to 77712
Data columns (total 4 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   week                           77713 non-null  datetime64[ns]
 1   product_id                     77713 non-null  object
 2   product_category_name_english  77713 non-null  object
 3   weekly_quantity                77713 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 2.4+ MB

In [86]:
demanda_semanal.head()

,week,product_id,product_category_name_english,weekly_quantity
0,2016-09-12,5a6b04657a4c5ee34285d1e4619a96b4,health_beauty,3
1,2016-10-03,027cdd14a677a5834bc67a9789db5021,perfumery,1
2,2016-10-03,0534940d69bf94dc61c0e722b4168235,furniture_decor,1
3,2016-10-03,05fca08b4d54ab5d1d371db7d5534136,computers_accessories,1
4,2016-10-03,062619359d5f9a664606cb2a6ccb477a,health_beauty,1

In [87]:
demanda_semanal["week"].nunique()

91

In [88]:
demanda_semanal["week"].min(), demanda_semanal["week"].max()

(Timestamp('2016-09-12 00:00:00'), Timestamp('2018-08-27 00:00:00'))

In [89]:
demanda_semanal.isnull().sum()

week                             0
product_id                       0
product_category_name_english    0
weekly_quantity                  0
dtype: int64

In [90]:
demanda_semanal["weekly_quantity"].describe()

count    77713.000000
mean         1.418000
std          1.381524
min          1.000000
25%          1.000000
50%          1.000000
75%          1.000000
max         59.000000
Name: weekly_quantity, dtype: float64

In [91]:
demanda_semanal["product_id"].nunique()

32216

In [92]:
demanda_semanal["product_category_name_english"].nunique()

72

In [93]:
demanda_semanal.groupby(
    "product_category_name_english"
)["weekly_quantity"].sum().sort_values(ascending=False).head(10)

product_category_name_english
bed_bath_table           10953
health_beauty             9465
sports_leisure            8431
furniture_decor           8160
computers_accessories     7644
housewares                6795
watches_gifts             5859
telephony                 4430
garden_tools              4268
auto                      4140
Name: weekly_quantity, dtype: int64

In [94]:
demanda_semanal.groupby(
    "product_id"
)["weekly_quantity"].sum().sort_values(ascending=False).head(10)

product_id
aca2eb7d00ea1a7b8ebd4e68314663af    520
422879e10f46682990de24d770e7f83d    484
99a4788cb24856965c36a24e339b6058    477
389d119b48cf3043d311335e499d9c6b    390
368c6c730842d78016ad823897a372db    388
53759a2ecddad2bb87a079a1f1519f73    373
d1c427060a0f73f6b889a5c7c61f2ac4    332
53b36df67ebb7c41585e8d54d6772e08    321
154e7e31ebfa092203795c972e5804a6    274
3dd2a17168ec895c781a9191c1e95ad7    272
Name: weekly_quantity, dtype: int64